@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    height: 100vh;
    width: 100vw;
}
body{
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    margin :0;
}

p,h3{
    margin: 0;
}
.book{
    border-radius: 5px;
    width: 200px;
    height: 230px;
    justify-self: center;
    align-self: center;
    overflow: hidden;
    font-family: 'MedievalSharp', cursive;
    background-image: url("book-cover.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
}

h3.bookContent{
    text-align: center;
}

h3.bookContent > p{
    font-size: 15px;
}

.bookContent{
    width: 150px;
    position: relative;
    left: 11px;
    overflow: hidden;
    
}

.bookBtn{
    border: 1px  solid black;
    border-top: none;
    border-left: none;
    background: none;
    font-size: 16px;
    font-weight: bold;
    margin-left:auto;
    margin-right:25px;
}

.gridContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px 0;
    
}