@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    height: 100vh;
    width: 100vw;
}
body{
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    margin :0;
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

p,h3{
    margin: 0;
}

.container{
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.btnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 100px;
    
}

.book{
    border-radius: 5px;
    width: 200px;
    height: 230px;
    justify-self: center;
    align-self: center;
    overflow: hidden;
    font-family: 'MedievalSharp', cursive;
    background-image: url("book-cover.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
}

h3.bookContent{
    text-align: center;
}

h3.bookContent > p{
    font-size: 15px;
}

.bookContent{
    width: 150px;
    position: relative;
    left: 11px;
    overflow: hidden;
    
}

.bookBtn{
    border: 1px  solid black;
    border-top: none;
    border-left: none;
    background: none;
    font-size: 16px;
    font-weight: bold;
    margin-left:auto;
    margin-right:25px;
}

.gridContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px 0;
    
}

.dialogBtn{
    width: 25%;
    height: 10%;
    border-radius: 25px;
    min-height: 25px;
    max-width: 150px;
}

.addNewBook{
  border: none;
  border-radius: 1rem;
  padding: 2rem;
  background: #1e1e2f;
  color: #fff;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  width: 90%;
  max-width: 400px;
  font-family: "Segoe UI", sans-serif;
}

.addNewBook::backdrop {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
}

form > input[type=text], input[type=number]{
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-family: "Segoe UI", sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  margin:10px;
  
}

form > input[type=text]:hover , input[type=number]:hover{
    box-shadow: 0 8px 16px rgba(0,0,0,1);
    
}

form > input[type=text]:focus , input[type=number]:focus{
    box-shadow:inset 2px 4px 8px #130731;
    
}